
$black: #2d2926;
$white: #fff;
$grey: #eaeae9;
$lightGrey: #c0bfbe;
$darkGrey: #817f7d;


.container {
  font-family: Roboto, sans-serif;

}

.header {

}

.logoImg {
  width: 100vw;
}

.main__txt {
  color: $darkGrey;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.footer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
  background-color: $darkGrey;
}

.footer__icons {
  display: flex;
  gap: 1rem;
  color: $black;


}

.footer__text {
  color: $black;
  font-size: 0.8rem;


}

.especialidades {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}

.trabalho{
  width: 150px;
    height: 150px;
  background-image: url("../../assets/images/trabalho.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.civil{
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/civil.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.consumidor{
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/consumidor.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.previdenciario{
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/previdenciario.png");
  background-repeat: no-repeat;
  background-size: cover;

}

